.mediaViewInfo {
	--web-view-name: 웹 1280 – 3 – 4;
	--web-view-id: __1280___3___4;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: __1280___3___4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#__1280___3___4 {
	position: absolute;
	box-sizing: border-box;
	transform: translateX(-50%);
	left: 50%;
	background: #E5E5E5;
	width: 1280px;
	height: 800px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 웹 1280 – 3 – 4;
	--web-view-id: __1280___3___4;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
.____511 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 33px;
	left: 0px;
	top: 32px;
}
.____513 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 736px;
	top: 781px;
}
.____534 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 33px;
	left: -1px;
	top: -2px;
}
#____ {
	position: absolute;
	left: 601px;
	top: -1px;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -4px;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(245,245,245,1);
	letter-spacing: 1px;
}
.____507 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 608px;
	height: 84px;
	left: 190px;
	top: 283px;
}
#Billed_weekly_on_Sunday {
	display: none;
	position: absolute;
	left: 566px;
	top: 181.5px;
	overflow: hidden;
	width: 179px;
	height: 17px;
	line-height: 28px;
	margin-top: -6px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(170,170,170,1);
}
#___462 {
	position: absolute;
	width: 267px;
	height: 59px;
	left: 507px;
	top: 336px;
	overflow: visible;
}
.____743 {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#__________ {
	position: absolute;
	left: 36px;
	top: 9px;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#___463 {
	position: absolute;
	width: 273px;
	height: 59px;
	left: 507px;
	top: 405px;
	overflow: visible;
}
.____744 {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#______________ {
	position: absolute;
	left: 18px;
	top: 11px;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#___464 {
	position: absolute;
	width: 267px;
	height: 59px;
	left: 507px;
	top: 474px;
	overflow: visible;
}
.____744_A21_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#_____A21_Text_5 {
	position: absolute;
	left: 89px;
	top: 9px;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#_____A21_Text_6 {
	position: absolute;
	left: 164px;
	top: 31px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -4px;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(245,245,245,1);
	letter-spacing: 1px;
}
#_____A21_Text_7 {
	position: absolute;
	left: 291px;
	top: 31px;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -4px;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(245,245,245,1);
	letter-spacing: 1px;
}
#HOME {
	position: absolute;
	left: 52px;
	top: 32px;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -4px;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(245,245,245,1);
	letter-spacing: 1px;
}
#__ {
	position: absolute;
	left: 431px;
	top: 31px;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -4px;
	text-align: left;
	font-family: NanumBarunGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(245,245,245,1);
	letter-spacing: 1px;
}